<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary px-3 navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Employee Management App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/employees/">Employees</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link text-white" href="/employees/create/">Create Employee</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link text-white" href="/users/">Users</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link text-white" href="/users/create/">Create User</a>
                    </li>
                </ul>
                <span class="navbar-text text-white mx-4">
                    Welcome <span sec:authentication="principal.username">, User</span>
                </span>
                <span class="navbar-text mx-4" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
                </span>
            </div>
        </div>
    </nav>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${employees}" class="container my-5">
                    <div class="col-md-12">
                        <div class="text-muted text-center" th:case="null">
                            <h2>No Employees yet!</h2>
                            <a th:href="@{/employees/create/}" sec:authorize="hasRole('ADMIN')" class="btn btn-primary mt-3 mb-3">Add Employee</a>
                        </div>


                        <div th:case="*">
                            <h1>List Employees</h1>
                            <div class="col-md-6 mb-2 ml-n2">
                                <form class="d-flex" role="search" th:action="@{/employees/search}">
                                    <input class="form-control me-2" type="search" name="query" th:value="${query}" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success ml-3" type="submit">Search</button>
                                </form>
                            </div>
                            <table class="table table-striped table-bordered table-responsive-md" id="employee" th:data-sort="${order}">
                                <thead class="table-dark">
                                <tr>
                                    <th onclick="sortData()">Employee First Name</th>
                                    <th>Employee Last Name</th>
                                    <th>Employee Email</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.fname}"></td>
                                    <td th:text="${employee.lname}"></td>
                                    <td th:text="${employee.email}"></td>
                                    <td>
                                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/employees/edit/{id}(id=${employee.id})}" class="btn btn-primary btn-sm">Update</a>
                                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/employees/delete/{id}(id=${employee.id})}" class="btn btn-danger btn-sm">Delete</a>
                                        <a th:href="@{/employees/view/{id}(id=${employee.id})}" class="btn btn-info btn-sm text-white">View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src='https://code.jquery.com/jquery-3.7.0.js'></script>
    <!-- Data Table JS -->
    <script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
    <script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
    <script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
    <script type="text/javascript">
        $(document).ready(function() {
            const dataAttr = $("#employee").data("sort");
            $('#employee').DataTable({
                "columns": [
                    { "orderable": true},
                    { "orderable": false},
                    { "orderable": false},
                    { "orderable": false}
                ],
                "order": [ [0, dataAttr ? dataAttr : 'asc'] ],
                info: false,
                paging: false,
                searching: false,
            })
        } );

        function sortData() {
            const order = $("#employee").data("sort") === 'asc' ? 'desc' : 'asc';
            window.location.href = '/employees/sort?order=' + order;
        }

    </script>
</body>

</html>